{% extends "public/templates/base_public.html" %}
{% block title %}PPP - powerBI{% endblock title %}
{% block nav %}
<head>
	<title>Phosphate Price Prediction</title>
	<!-- Include ECharts library -->
  <script src="https://fastly.jsdelivr.net/npm/jquery"></script>
  <script src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
  
</head>
<header>
    <h1>PPP</h1>
    <div class="nav-links">
    <nav >
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About Us</a></li>
        
        <li><a href="https://www.ocpgroup.ma">Contact Us</a></li>
        <li><a href="/powerBI">PowerBI shots</a></li>
      </ul>
    </nav>
  </div>
  </header>
{% endblock nav %}
{% block content %}
<br><br>
<center>
<h2>Phosphate and Diesel Prices by Month</h2>
<br><br>
<div id="chart-container" style="width: 800px; height: 600px;"></div>
<h4>For more charts, download the report file by clicking on the link bellow :</h4>
<br>
<a class="button" href="phosphates.pdf" download>Download PDF File</a>
</center>
<script>
// Load the data from the CSV file
fetch('phosphate360.csv')
  .then(response => response.text())
  .then(csvData => {
    var lines = csvData.trim().split('\n');
    var monthsYears = [];
    var phosphate_Roc = [];
    var diesel_Roc = [];

    // Loop through each line and extract the data
    for (var i = 1; i < lines.length; i++) {
      var parts = lines[i].split(',');
      monthsYears.push(parts[0]);
      phosphate_Roc.push(parseFloat(parts[3].replace('"', '').replace(',', '')));
      diesel_Roc.push(parseFloat(parts[4].replace('"', '')));
    }

    // Create the ECharts option using the loaded data
    var option = {
      title: {
        text: ''
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {},
      toolbox: {
        show: true,
        feature: {
          dataZoom: {
            yAxisIndex: 'none'
          },
          dataView: { readOnly: false },
          magicType: { type: ['line', 'bar'] },
          restore: {},
          saveAsImage: {}
        }
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: monthsYears
      },
      yAxis: {
        type: 'value',
        axisLabel: {
          formatter: '{value}'
        }
      },
      series: [
        {
          name: 'Phosphate Price',
          type: 'line',
          data: phosphate_Roc
        },
        {
          name: 'Diesel Price',
          type: 'line',
          data: diesel_Roc
        }
      ]
    };

    // Initialize the chart with the option
    var myChart = echarts.init(document.getElementById('chart-container'));
    myChart.setOption(option);
  })
  .catch(error => console.error('Error fetching CSV data:', error));
</script>

<br>
<br>
<br>
<br>
<br>

{% endblock content %}