{% extends "public/templates/base_public.html" %}
{% block title %}PPP - Power BI{% endblock title %}
{% block nav %}
<head>
	<title>Phosphate Price Prediction</title>
	<!-- Include ECharts library -->
	<script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>
</head>
<header>
    <h1>PPP</h1>
    <div class="nav-links">
    <nav >
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About Us</a></li>
        
        <li><a href="">Contact Us</a></li>
        <li><a href="/login">PowerBI shots</a></li>
      </ul>
    </nav>
  </div>
  </header>
{% endblock nav %}
{% block content %}


{% endblock content %}