{% extends "public/templates/base_public.html" %}

{% block title %}OCP - Phosphates Price Preditcion{% endblock title %}

{% block nav %}
<header>
  <h1> PPP</h1>
  <div class="nav-links">
    <nav>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
{% endblock nav %}

{% block content %}
<img src="https://cdn.britannica.com/39/131239-004-B7D364FB/pyrolusite-Lithiophilite-quartz-Lithium-manganese-phosphate-Wickenburg.jpg" alt="Phosphates" height="100px" width="100px">
      
<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="text-align:center">Phosphates Price Prediction - NEXT YEAR </h2>
    </div>
  </div>
</div>
<br><br>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="modifier">
  <h3 style="font-size: 20px; text-align:center">Results of prediction using - Linear Regression - Tree Regressor - Random Forest Model - </h3>
  <h4><strong> From August 2023 to July 2024 </strong></h4>
  <br>
  <p>{{ futurepredictions_df }} </p>

#ADD PLOT </div>

<br><br><br><br><br>

<footer>
</footer>

{% endblock content %}
