{% extends "public/templates/base_public.html" %}

{% block title %}OCP - Phosphates Price Prediction{% endblock title %}

{% block nav %}
<header>
  <h1> PPP</h1>
  <div class="nav-links">
    <nav>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
{% endblock nav %}

{% block content %}
<img src="https://cdn.britannica.com/39/131239-004-B7D364FB/pyrolusite-Lithiophilite-quartz-Lithium-manganese-phosphate-Wickenburg.jpg" alt="Phosphates" height="100px" width="100px">
      
<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="text-align:center">Phosphates Price Prediction - PAST YEAR</h2>
    </div>
  </div>
</div>
<br><br>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="modifier">
  <h3 style="font-size: 20px; text-align:center">Results of prediction using  </h3>

  <h3 style="font-size: 20px; text-align:center"> - Linear Regression - Tree Regressor - Random Forest Model -  </h3>
  <br>

  <h4><strong> <center>August 2022 to July 2023 </center></strong></h4>
  
  <table class="table">
    <thead>
      <tr>
        <th>Month</th>
        <th>Year</th>
        <th>Phosphate Price (US Dollars per Metric Ton) </th>

        <th>Predicted Phosphate Price (MLR)</th>
        <th>MLR Accuracy</th>

        <th>Predicted Phosphate Price (Decision Tree)</th>
        <th>Decision Tree Accuracy</th>

        <th>Predicted Phosphate Price (Random Forest)</th>
        <th>Random Forest Accuracy</th>

      </tr>
    </thead>
    <tbody>
      {% for index, row in futurepredictions_df.iterrows() %}
        <tr>
          <td>{{ row['Month'] }}</td>
          <td>{{ row['Year'] }}</td>
          <td>{{ row['actual_data'] }}</td>

          <td>{{ row['Predicted Phosphate Price (MLR)'] }}</td>
          <td>{{ row['MLR Accuracy'] }}</td>

          <td>{{ row['Predicted Phosphate Price (Decision Tree)'] }}</td>
          <td>{{ row['Decision Tree Accuracy'] }}</td>

          <td>{{ row['Predicted Phosphate Price (Random Forest)'] }}</td>
          <td>{{ row['Random Forest Accuracy'] }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br><br>


<!-- Display the plot using an image tag -->
<center><img src="static/plot.png" alt="Plot" height="500px" width="1000px"></center>

<br><br><br><br><br>

<footer>
</footer>

{% endblock content %}
