{% extends "public/templates/base_public.html" %}

{% block title %}OCP - Phosphates Price Preditcion{% endblock title %}

{% block nav %}
<header>
  <h1> PPP</h1>
  <div class="nav-links">
    <nav>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
{% endblock nav %}

{% block content %}
<img src="https://cdn.britannica.com/39/131239-004-B7D364FB/pyrolusite-Lithiophilite-quartz-Lithium-manganese-phosphate-Wickenburg.jpg" alt="Phosphates" height="100px" width="100px">
      

<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="text-align:center">Phosphates Price Prediction - Past Month </h2>
    </div>
  </div>
</div>
<br><br>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="modifier" style="text-align: center;">
  <h3 style="font-size: 20px;">Results of prediction using - Linear Regression - Tree Regressor - Random Forest Model - </h3>
  <h4><strong>JULY</strong></h4>
  <br>
  <p><strong>Linear Regression | Predicted price: <span style="color: blue;">{{ "%.2f"|format(pred_mlr_july) }} $</span> | Accuracy: <span style="color: blue;">{{ "%.2f"|format(accuracy_mlr) }}%</span></strong></p>
  <p><strong>Tree Regressor | Predicted price: <span style="color: blue;">{{ "%.2f"|format(pred_tr_july) }} $</span> | Accuracy: <span style="color: blue;">{{ "%.2f"|format(accuracy_tr) }}%</span></strong></p>
  <p><strong>Random Forest | Predicted price: <span style="color: blue;">{{ "%.2f"|format(pred_rf_july) }} $</span> | Accuracy: <span style="color: blue;">{{ "%.2f"|format(accuracy_rf) }}%</span></strong></p>

  
  <br>
  <p><strong> Actual Price  : <span style="color:green;"> {{ actual_price }} $</strong></p>
  

</div>

<br><br><br><br><br>

<footer>
</footer>

{% endblock content %}